.temperature {
    @include mod('hot') {
        background-color: color($green, 'default', 0.7);
    }
    @include mod('cold') {
        background-color: color($red, 'light', 1);
    }
}

.temperature__icon:after {
    @include fa_icon('\f2c9');
}

.temperature__content {
  @include position-center;

  text-align: center;
  font-size: 4em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1;
}

.temperature__label {
  text-align: center;
  font-size: 1em;
}
