<div class="content">
  <currentTime grid='grid-6-3' position="a1"></currentTime>
  <solar grid='grid-6-3' position="b1"></solar>
  <power grid='grid-6-3' position="c1"></power>

  <!-- salon -->
  <temperature grid='grid-6-3' position="a2" room="salon" min=17 max=23 threshold=19></temperature>
  <humidity grid='grid-6-3' position="a3" room="salon"></humidity>

  <!-- jardin -->
  <temperature grid='grid-6-3' position="b2" room="garden" threshold=0></temperature>
  <humidity grid='grid-6-3' position="b3" room="garden"></humidity>
</div>
